<footer class="footer">
  <div class="footer__inner">
    <section class="footer__top-wrapper">
      <div class="footer__top">
        <h2 class="footer__title">Навигация по сайту</h2>
        <ul class="footer__list">
          <li class="footer__item">
            <a href="#" class="footer__link">Правила использования</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Политика обработки данных</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Контакты для партнеров</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">конфиденциальность</a>
          </li>
        </ul>
      </div>
    </section>
    <div class="copyright">
      <p class="copyright__text">© Социальная сеть “Migram”, 2020</p>
    </div>
  </div>
</footer>