<header class="header">
  <div class="header__inner">
    <a href="#" class="logo header__logo">
      <img src="../img/logo.png" alt="логотип" class="logo__img header__logo-img">
    </a>
    <button type="button" class="menu-burger header__menu-burger">
      <span class="menu-burger__rel">Меню</span>
      <span class="menu-burger__toggle-line"></span>
    </button>
    <nav class="navigation header__navigation">
      <ul class="navigation__list">
        <li class="navigation__item">
          <a href="#" class="navigation__link">Главная</a>
        </li>
        <li class="navigation__item">
          <a href="#" class="navigation__link">О нас</a>
        </li>
        <li class="navigation__item">
          <a href="#" class="navigation__link">Политика конфиденциальности</a>
        </li>
        <li class="navigation__item">
          <a href="#" class="navigation__link">Форум</a>
        </li>
        <li class="navigation__item">
          <a href="#" class="navigation__link">Контакты</a>
        </li>
      </ul>
    </nav>
    <div class="lang header__lang">
      <p class="lang__link lang__link--ru lang__link--active">
        <span class="lang__country">Русский</span>
      </p>
      <ul class="lang__list">
        <li class="lang__item">
          <a href="#" class="lang__link lang__link--en">
            <span class="lang__country">Английский</span>
          </a>
        </li>
        <li class="lang__item">
          <a href="#" class="lang__link lang__link--ge">
            <span class="lang__country">Немецкий</span>
          </a>
        </li>
        <li class="lang__item">
          <a href="#" class="lang__link lang__link--fr">
            <span class="lang__country">Французский</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>


